*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
}

.background {
  height: 50rem;
  color: wheat;
  background: linear-gradient(rgba(26, 24, 24, 0.5), rgba(32, 31, 31, 0.5)),
    url("./images/f8cc618ddad429b3dc87949c35875ab7.jpg") no-repeat center center
      fixed;
  background-size: cover;
}

.card__subtitle {
  font-weight: bold;
}

.card__age {
  color: #000000;
  background-color: #ffd700;
  border-radius: 4px;
  padding: 0.3rem;
  font-size: 1.2rem;
  margin-left: 0.7rem;
}

.card__review-wrapper {
  margin-block-start: 2rem;
}

.card__likes {
  margin-block-start: 0.6rem;
}

.card__stars-container {
  display: flex;
  gap: 0.4rem;
}

.card__stars {
  width: 20px;
  height: 20px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: gold;
}

.grid {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 5rem;
  margin-block-start: -15rem;
  padding-block-end: 8rem;
}

.card__container {
  color: #000000;
}

.cover__image-container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.cover__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.card__age {
  vertical-align: middle;
}

.article {
  margin-block-start: 4rem;
}

.article__text {
  width: 100%;
  max-width: 80ch;
  letter-spacing: 1px;
  line-height: 1.6;
  color: #000000;
}

@media screen and (min-width: 1000px) {
  .grid {
    grid-template-columns: auto 1fr;
  }
  .card__container {
    color: #ffffff;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  .article {
    align-self: center;
  }
}
